body {
  background-color: lightblue;
  height: 100%;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Roboto', sans-serif;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    max-width: 300px;
}

img {
    max-width: 300px;
    max-height: 4000px;
    background-color: grey;
}

.caption {
    display: block;
}
